<div class="delete" >

    <div class="container">
        <div class="row">

            <h1>Excluir Atividades</h1>

            <div class="table-responsive">
                <atividade-table atividades="atividades" selecionados="selecionados" tela="delete" acao="select(atividade)"></atividade-table>
            </div>

            <div>
                <button ng-click="delete()" type="button" class="confirm btn btn-light">CONFIRMAR</button>
            </div>

        </div>
    </div>

</div>